In [2]:
a = 2 
print(type(a))

a = 2.0
print(type(a))

a = True 
print(type(a))

a = 'andre'
print(type(a))

a = None
print(type(a))

a = 0
print(type(a))

a = ''
print(type(a))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'NoneType'>
<class 'int'>
<class 'str'>

# Operadores

In [ ]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(10 % 3)
print(2 ** 8)
print(10 // 3)
print(81 ** 0.5)
print(81 ** (1/2))

5
-3
10.6
3.1333333333333333
1
256
3
9.0

# Tipo String

In [ ]:
dir(str)

nome = 'André Insardi'
print(nome)

nome[3]

print("André Insardi" == 'André Insardi')

texto = 'Texto entre apostrófos pode ter "aspas"'
print(texto)

doc = """texto com multiplas
linhas..."""

print(doc)

André Insardi
True
Texto entre apostrófos pode ter "aspas"
texto com multiplas
linhas...

In [ ]:
nome = 'Um nome qualquer'

nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:4]
nome[2:5]

# index  ->0123456789
numeros = '1234567890'

numeros[::]
numeros[::2]
numeros[::3]
numeros[::-1]
numeros[3::2]

'4680'

# Listas

In [22]:
lista = []
type(lista)

len(lista)


lista.append(1)
lista.append(5)
lista

lista[0]
len(lista)



nova_lista = [1, 5,'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
print(nova_lista)
print(nova_lista[3])
print(nova_lista[4])
print(nova_lista[4][1])
print(nova_lista[4][1][3])

print(nova_lista)
nova_lista.remove(5)
print(nova_lista)
nova_lista.reverse()
print(nova_lista)
del nova_lista[2]
print(nova_lista)

[1, 5, 'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
Bia
['C#', 'Python', 'Node']
Python
h
[1, 5, 'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
[1, 'Ana', 'Bia', ['C#', 'Python', 'Node'], 3.14]
[3.14, ['C#', 'Python', 'Node'], 'Bia', 'Ana', 1]
[3.14, ['C#', 'Python', 'Node'], 'Ana', 1]

In [31]:
lista = [1, 5, 'Raquel', 'Guilherme', 3.1415, 'Guilherme']
print(lista.index(5))
print(lista.index('Raquel'))
print(lista.index('Guilherme'))

'Andre' in lista
'Raquel' in lista

lista.append('Andre')
print(lista)
lista.insert(2, 'Ana')
print(lista)
lista.insert(2, ['Metalica', 'Led', 'Ozy'])
lista

1
2
3
[1, 5, 'Raquel', 'Guilherme', 3.1415, 'Guilherme', 'Andre']
[1, 5, 'Ana', 'Raquel', 'Guilherme', 3.1415, 'Guilherme', 'Andre']

[1,
 5,
 ['Metalica', 'Led', 'Ozy'],
 'Ana',
 'Raquel',
 'Guilherme',
 3.1415,
 'Guilherme',
 'Andre']

In [34]:
lista = ['Ana', 'Aline', 'Guilherme', 'Andre', 'Dani']
print(lista[1:3])
print(lista[1:-1])
print(lista[1:])

['Aline', 'Guilherme']
['Aline', 'Guilherme', 'Andre']
['Aline', 'Guilherme', 'Andre', 'Dani']

## Tupla

In [40]:
tupla = ()
type(tupla)

cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores_list = list(cores)
print(cores)
print(cores_list)

('verde', 'amarelo', 'azul', 'branco')
['verde', 'amarelo', 'azul', 'branco']

# Dicionário

In [57]:
pessoa = {}
type(pessoa)

pessoa = {'nome': 'Andre', 'idade': 35, 'altura': 1.83}
pessoa
pessoa['idade']
pessoa['nome']

pessoa = {'nome': 'Andre', 'idade': 35, 'altura': 1.83, 'cursos': ['C#', 'Node', 'React', 'Python']}
pessoa
pessoa['altura']
pessoa['cursos']
pessoa['cursos'][2]

print(pessoa.keys())
print(pessoa.values())
print(pessoa.items())

dict_keys(['nome', 'idade', 'altura', 'cursos'])
dict_values(['Andre', 35, 1.83, ['C#', 'Node', 'React', 'Python']])
dict_items([('nome', 'Andre'), ('idade', 35), ('altura', 1.83), ('cursos', ['C#', 'Node', 'React', 'Python'])])

In [67]:
items = list(pessoa.items())
type(items)
print(items)
print(type(items))
print(items[3])
print(type(items[3]))
print(items[3][0])
print(type(items[3][0]))
print(items[3][1])
print(type(items[3][1]))
print(items[3][1][2])
print(type(items[3][1][2]))
print(items[3][1][2][4])
print(type(items[3][1][2][4]))

[('nome', 'Andre'), ('idade', 35), ('altura', 1.83), ('cursos', ['C#', 'Node', 'React', 'Python'])]
<class 'list'>
('cursos', ['C#', 'Node', 'React', 'Python'])
<class 'tuple'>
cursos
<class 'str'>
['C#', 'Node', 'React', 'Python']
<class 'list'>
React
<class 'str'>
t
<class 'str'>

In [72]:
lista_pessoas = [{'nome': 'Andre', 'idade': 35, 'altura': 1.83},
                 {'nome': 'Ana', 'idade': 22, 'altura': 1.57},
                 {'nome': 'João', 'idade': 39, 'altura': 1.78},
                 {'nome': 'Bia', 'idade': 27, 'altura': 1.63}]


lista_pessoas[2]['idade']

pessoa1 = {'nome': 'Andre', 'idade': 35, 'altura': 1.83}

pessoa1.update({'idade': 34, 'genero': 'M'})
pessoa1

{'altura': 1.83, 'genero': 'M', 'idade': 34, 'nome': 'Andre'}

# Estrutura de condição IF

In [77]:
a = int(input('Digite o valor: '))
# print(a)
# type(a)
b = int(input('Digite o valor: '))
c = int(input('Digite o valor: '))

resultado = 0

if a > b and a > c:
  resultado = a
elif b > c and b > a:
  resultado = b
else:
  resultado = c

print(resultado)

Digite o valor: 3
Digite o valor: 6
Digite o valor: 9
9

In [3]:
a = 10

while a >0:
    print(a)
    a = a -1

10
9
8
7
6
5
4
3
2
1

In [5]:
lista_pessoas = [{'id':1, 'nome': 'Andre', 'idade': 35, 'altura': 1.83, 'cursos': ['C#', 'Python', 'React']},
                {'id':2, 'nome': 'Ana', 'idade': 22, 'altura': 1.57, 'cursos': ['C#', 'Python', 'Node', 'C++']},
                {'id':3, 'nome': 'João', 'idade': 39, 'altura': 1.78, 'cursos': ['Python', 'Node']},
                {'id':4, 'nome': 'Bia', 'idade': 27, 'altura': 1.63, 'cursos': ['C#', 'Java', 'React']}]

for pessoa in lista_pessoas:
    for curso in pessoa['cursos']:
        nome = pessoa['nome']
        print(f'A pessoa {nome} faz o curso {curso}')

A pessoa Andre faz o curso C#
A pessoa Andre faz o curso Python
A pessoa Andre faz o curso React
A pessoa Ana faz o curso C#
A pessoa Ana faz o curso Python
A pessoa Ana faz o curso Node
A pessoa Ana faz o curso C++