In [1]:
import pyodbc

server = 'dlapoio.database.windows.net'
database = 'masterUber'
username = 'andre'
password = 'ShC12%Uz'
driver = 'SQL Server'

cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+password)

cursor = cnxn.cursor()

cursor.execute('SELECT * FROM tb_pessoas')

for linha in cursor.fetchall():
    print(linha)

(1, 'andre', 35)
(2, 'ana', 26)
(3, 'jo√£o', 45)

In [2]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS tb_pessoas(
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INT NOT NULL
)
""")

conn.commit()
conn.close()

In [3]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()
nome = input('Digite o nome: ')
idade = int(input('Digite a idade: '))

cursor.execute('INSERT INTO tb_pessoas (nome, idade) VALUES (?,?)', (nome, idade))

print('linha criada')
conn.commit()
conn.close()

linha criada

In [4]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute('UPDATE tb_pessoas SET nome = ? WHERE id = ?', ('Luan Lara de Moraes', 1))

print('update realizado com sucesso')

conn.commit()
conn.close()

update realizado com sucesso

In [6]:
import sqlite3

conn = sqlite3.connect('espm4s.db')

cursor = conn.cursor()

cursor.execute('DELETE FROM tb_pessoas WHERE id = 1')
print('delete ok')

conn.commit()
conn.close()

delete ok