In [1]:
import sqlite3

conn = sqlite3.connect('exercicios1.db')

cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS Author(
    AuthorID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS Post(
    PostID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    AuthorID INTEGER NOT NULL,
    Title TEXT NOT NULL,
    Created DATATIME NOT NULL,
    FOREIGN KEY (AuthorID) REFERENCES Author
)
""")

conn.commit()
conn.close()

In [15]:
import sqlite3
import datetime

conn = sqlite3.connect('exercicios1.db')

cursor = conn.cursor()
name = input('Digite o nome: ')
title = input('Digite o t√≠tulo: ')
data = datetime.datetime.now()


cursor.execute('INSERT INTO Author (name) VALUES (?)', (name,))
cursor.execute('INSERT INTO Post (AuthorID, Title, Created) VALUES (?,?,?)', (1, title, data))

conn.commit()
conn.close()

In [19]:
import sqlite3

conn = sqlite3.connect('exercicios1.db')

cursor = conn.cursor()

cursor.execute('SELECT * FROM Author')
cursor.execute('SELECT * FROM Post')

conn.commit()
conn.close()

In [17]:
import sqlite3

conn = sqlite3.connect('exercicios1.db')

cursor = conn.cursor()

cursor.execute('UPDATE Author SET Name = ? WHERE AuthorID = ?', ('Luan Lara de Moraes', 1))

print('update realizado com sucesso')

conn.commit()
conn.close()

update realizado com sucesso

In [16]:
import sqlite3

conn = sqlite3.connect('exercicios1.db')

cursor = conn.cursor()
cursor.execute('DELETE FROM Author WHERE AuthorID = 2')
cursor.execute('DELETE FROM Post WHERE PostID = 1')
print('delete ok')

conn.commit()
conn.close()

delete ok